.icon01d {
  background-image: url("./01d.png");
}
.icon01n {
  background-image: url("./01n.png");
}
.icon02d {
  background-image: url("./02d.png");
}
.icon02n {
  background-image: url("./02n.png");
}
.icon03d {
  background-image: url("./03d.png");
}
.icon03n {
  background-image: url("./03n.png");
}
.icon04d {
  background-image: url("./04d.png");
}
.icon04n {
  background-image: url("./04n.png");
}
.icon09d {
  background-image: url("./09d.png");
}
.icon09n {
  background-image: url("./09n.png");
}
.icon10d {
  background-image: url("./10d.png");
}
.icon10n {
  background-image: url("./10n.png");
}
.icon11d {
  background-image: url("./11d.png");
}
.icon11n {
  background-image: url("./11n.png");
}
.icon13d {
  background-image: url("./13d.png");
}
.icon13n {
  background-image: url("./13n.png");
}
.icon50d {
  background-image: url("./50d.png");
}
.icon50n {
  background-image: url("./50n.png");
}
.icon-landing {
  background-image: url("./landing.png");
}
